.list-page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.add-button {
  width: 20% !important;
  height: 50px;
  font-size: 1.2em !important;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 10px;
  width: 90%;
}

.item {
  background-color: white;
  padding: 10px;
  border-radius: 16px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.item-button {
  width: 50% !important;
  height: 50px;
  font-size: 1em !important;
}

@media (max-width: 720px) {
  .list-page {
    height: 100%;
    padding-top: 10vh;
  }

  .list-page-header {
    flex-direction: column;
    gap: 10px;
  }

  .add-button {
    width: 90% !important;
    font-size: 1.5em !important;
    margin-bottom: 10px;
    height: unset;
  }

  .item {
    padding: 20px;
    font-size: 1.3em;
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .item-button {
    font-size: 1em !important;
    height: unset;
  }

  input {
    font-size: 1em;
  }
}
