.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffed;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.navbar-content {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.navbar-list {
    display: flex;
    gap: 4em;
}

li {
    list-style: none;
    font-size: 2em;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

li:hover {
    color: #ff8c9d;
    transform: scale(1.1);
}
